/* styles.css */

/* Customize the font */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Customize the background color */
body, .main-container {
  background-color: #f9f9f9;
}

/* Customize the color of text */
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

/* Customize the color of buttons */
.btn-primary {
  background-color: #428bca;
  border-color: #357ebd;
}

/* Customize the color of boxes */
.box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}
/* Custom class for white text */
.white-label {
  color: white;
}
